<!doctype html>
<html lang="en">

<head>
    <title>Interactive Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app" class="container">
        <div id="map" class="map"></div>
        <div id="omnibox" class="margined shadowed rounded">
            <div class="navbar">
                <div class="row center-area">
                    <div id="nav-back" class="center-y icon back-icon" v-if="singlebox !== 'industries'"
                        @click="stepBack"></div>
                    <div id="nav-title" class="center-y title">Industries</div>
                    <div id="filter-button" class="button rounded center-y" @click="showFilters">
                        <div class="center-area">
                            <svg class="icon center-x center-y" viewBox="-4 0 393 393.99003"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m368.3125 0h-351.261719c-6.195312-.0117188-11.875 3.449219-14.707031 8.960938-2.871094 5.585937-2.3671875 12.3125 1.300781 17.414062l128.6875 181.28125c.042969.0625.089844.121094.132813.183594 4.675781 6.3125 7.203125 13.957031 7.21875 21.816406v147.796875c-.027344 4.378906 1.691406 8.582031 4.777344 11.6875 3.085937 3.105469 7.28125 4.847656 11.65625 4.847656 2.226562 0 4.425781-.445312 6.480468-1.296875l72.3125-27.574218c6.480469-1.976563 10.78125-8.089844 10.78125-15.453126v-120.007812c.011719-7.855469 2.542969-15.503906 7.214844-21.816406.042969-.0625.089844-.121094.132812-.183594l128.683594-181.289062c3.667969-5.097657 4.171875-11.820313 1.300782-17.40625-2.832032-5.511719-8.511719-8.9726568-14.710938-8.960938zm-131.53125 195.992188c-7.1875 9.753906-11.074219 21.546874-11.097656 33.664062v117.578125l-66 25.164063v-142.742188c-.023438-12.117188-3.910156-23.910156-11.101563-33.664062l-124.933593-175.992188h338.070312zm0 0" />
                            </svg>
                        </div>
                    </div>
                    <div id="search-button" class="button rounded center-y">
                        <div class="icon search-icon center-x center-y"></div>
                    </div>
                </div>

            </div>
            <div id="industries" class="singlebox active">
                <div class="select-list">
                    <div class="select-item center-area" v-for="industrie in industries" :key="industrie.id"
                        @click="industrieSelected(industrie.id)">
                        <div class="center-y icon rounded primary-bg">
                            <!-- {{ industrie.icon }} -->
                        </div>
                        <div class="select-item-label center-y">{{ industrie.name }}</div>
                        <div class="center-y icon forward-icon"></div>
                    </div>
                </div>
            </div>
            <div id="sectors" class="singlebox">
                <div class="select-list">
                    <div class="select-item center-area" v-for="sector in filters.sectors"
                        @click="sectorSelected(sector)">
                        <div class="center-y icon rounded primary-bg">
                            <!-- {{ industrie.icon }} -->
                        </div>
                        <div class="select-item-label center-y">{{ sector }}</div>
                        <div class="center-y right"></div>
                    </div>
                </div>
            </div>
            <div id="results" class="singlebox">
                <div class="select-list">
                    <div class="select-item center-area" v-for="point in results" @click="pointSelected(point.id)">
                        <div class="center-y icon rounded primary-bg">
                            <!-- {{ industrie.icon }} -->
                        </div>
                        <div class="select-item-label center-y">{{ point.name }}</div>
                        <div class="center-y right"></div>
                    </div>
                </div>
            </div>
            <div id="selection" class="singlebox">

            </div>
            <div id="filters" class="singlebox">
                <div>
                    <div class="title">Type:</div>
                    <div class="form-check" v-for="activity in activities">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" v-model="activity.active"
                                @change="activityChanged(activity.id, activity.active)" />
                            {{ activity.name }}
                        </label>
                    </div>
                </div>

                <div v-if="search">
                    <div class="title">Industrie:</div>
                    <div class="form-check" v-for="industrie in industries" :key="industrie.id">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" v-model="industrie.active"
                                @change="industrieChanged(industrie.id, industrie.active)" />
                            {{ industrie.name }}
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/" type="text/html"></script>

    <script src="repo.js"></script>
    <script src="app.js"></script>

</body>

</html>