<!doctype html>
<html lang="en">

<head>
    <title>Interactive Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">

    <link rel="stylesheet" href="map.css">
</head>

<body>
    <div id="app" class="container">
        <div id="app" class="container">
            <div class="row">
                <div class="col-md-9">
                    <div id="map" class="map"></div>
                </div>
                <div class="col-md-3">
                    <div class="form-check" v-for="industrie in industries" :key="industrie.id">
                        <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              v-model="industrie.active"
                              @change="industrieChanged(industrie.id, industrie.active)"
                            />
                            {{ industrie.name }}
                          </label>
                    </div>

                    <div class="form-check" v-for="activity in activities">
                        <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              v-model="activity.active"
                              @change="activityChanged(activity.id, activity.active)"
                            />
                            {{ activity.name }}
                          </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/"></script>

    <script src="app.js"></script>
    <script src="../data/data.js"></script>

</body>

</html>