/* INIT */

html,
body {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 1.3rem;
}

/* CUSTOM */

#app {
  position: relative;
  height: 800px;
  width: 1200px;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#center-button {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 120px;
  right: 30px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

#logo {
  background-image: url("assets/icons/idm.svg");
  background-repeat: no-repeat;
  position: absolute;
  height: 45px;
  width: 120px;
  z-index: 20;
  bottom: 30px;
  left: 30px;
}

#omnibox {
  position: absolute;
  top: 0;
  z-index: 20;
  width: 400px;
  height: 65%;
  background: white;
  overflow: hidden;
}

.navbar {
  display: none;
  height: 75px;
  padding: 0 30px;
}

#navbar-filters {
  position: absolute;
}

#search-bar {
  display: none;
  height: 34px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-right: none;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#search-button.active {
  height: 36px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-left: 0;
}

#omnibox .singlebox {
  display: none;
  position: absolute;
  overflow-y: scroll;
  height: calc(100% - 75px);
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

#industries {
  z-index: 100;
}

#sectors {
  z-index: 110;
}

#results {
  z-index: 120;
}

#selection {
  z-index: 130;
  padding: 0 30px;
}

#selection .row {
  margin: 25px 0;
}

#filters {
  z-index: 200;
  margin: 0 30px;
}

.filter-class {
  margin-top: 30px;
}

.select-list > .select-item {
  height: 75px;
  padding: 0 15px 0 30px;
  cursor: pointer;
}

.select-list > .select-item:hover {
  background: #eeeeee;
}

.select-item > .icon {
  height: 50px;
  width: 50px;
  margin-right: 15px !important;
}

.leaflet-bar {
  border-radius: 10px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  /* box-shadow: rgba(50, 50, 50, 0.75) 1px 0px 15px 0px; */
  bottom: 20px;
  right: 20px;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* STYLE */

.primary-bg {
  background-color: #a9bf00 !important;
}

.white-bg {
  background-color: white !important;
}

.margined {
  margin: 30px;
}

.shadowed {
  box-shadow: rgba(50, 50, 50, 0.75) 1px 0px 15px 0px;
}

.rounded {
  border-radius: 10px;
}

.center-area {
  display: flex;
  flex: auto;
  height: 100%;
}

.center-area .center-y {
  margin-top: auto;
  margin-bottom: auto;
}

.center-area .center-x {
  margin-left: auto;
  margin-right: auto;
}

.fill {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 0.5px lightgray solid;
}

.icon {
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.button {
  height: 40px;
  width: 40px;
  margin-left: 15px;
  background-color: #eeeeee;
  cursor: pointer;
}

.button .icon {
  height: 60%;
  width: 60%;
}

.navbar .button .icon {
  fill: #707173;
  opacity: 40%;
}

.row {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  display: flex;
}

.social > :first-child {
  margin-right: 15px;
}

.logo {
  background-size: contain;
  width: 100px;
}

.description {
  margin-top: 15px;
  margin-bottom: 30px;
}

.contact {
  height: 40px;
  margin: 15px 0;
}

.contact > .button {
  margin-right: 15px;
  margin-left: 0px;
  cursor: auto;
}

.contact .icon {
  fill: white;
  opacity: 90%;
}

.clickable {
  cursor: pointer;
}

.active {
  display: block !important;
}

/* ICONS */

.back-icon {
  background-image: url("assets/icons/left.svg");
  margin-right: 15px !important;
}

.forward-icon {
  background-image: url("assets/icons/right.svg");
  margin-left: auto !important;
  background-position: right;
}

.filter-icon {
  background-image: url("assets/icons/filter.svg");
}

.center-icon {
  background-image: url("assets/icons/center-map.svg");
}

.facebook-icon {
  background-image: url("assets/icons/facebook.jpeg");
}

.linkedin-icon {
  background-image: url("assets/icons/linkedin.png");
}
